
@import url(//db.onlinewebfonts.com/c/9999e6133b66f98f92d93dca4a1cd8d3?family=Metropolis+1920);
@import url(//db.onlinewebfonts.com/c/5e8964a3ad15aac170f1c13c0e3afeba?family=GillSansWGL); 

$blue: #2051a2;
$light-blue: #00b0c9;
$purple: #82478d;
$yellow: #feb666;
$white: rgb(245, 245, 245);
$dark-blue: #01081e;
$dark-purple: #6f3d78;

$dark-box-shadow: 1px 3px 10px rgb(57, 82, 96);
$light-box-shadow: 1px 3px 10px rgba(245, 245, 245, 0.538);


$border-radius: 10px;


$font-family:"GillSansWGL";

$title-font-family: "Metropolis 1920";

