@import './styles/variables.scss';

*{
    margin: 0;
}
body{
    font-family: $font-family;
    background: linear-gradient(90deg, $dark-blue 0%, $blue 50%,$dark-blue 100%);
    color:$white;
}

h1{
    font-family: $title-font-family;
}

h4 {
    color: $light-blue;
    font-weight:normal;
    text-transform: uppercase;
  }